h1 {
    text-align: center;
    color: red;
}
body {
    background-color: blue;
}

#div1 {
    width: 1700px;
    height: 1000px;
    background-color: green;
}

#img1 {
    width: 300px;
    height: 360px;
    border-radius: 20px;
}

#img2 {
    width: 300px;
    height: 360px;
    border-radius: 20px;
    margin-left: 100px;
}

.img3 {
    width: 300px;
    height: 360px;
    border-radius: 20px;
    margin-left: 100px;
}

#p2 {
    font-weight: 30;
}

#b0 {
    color: red;
    font-size: 20px;
}

#b1 {
    margin-left: 142px;
    color: red;
    font-size: 20px;
}

#b2 {
    margin-left: 350px;
    color: red;
    font-size: 20px;
}

#b3 {
    margin-left: 210px;
    color: red;
    font-size: 20px;
}

button {
    border-radius: 20px;
    background-color: blue;
}